.middle{
    width: 100%;
    margin-top: 4rem;
}
.middle .secContainer{
    background: var(--background2);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 7px 18px;
}
.middle .secContainer .grid{
    padding: 3rem;
    border-radius:3rem ;
    justify-content: center;
    margin: auto;
    gap: 5rem;
}
.middle .secContainer .grid .Text{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.middle .secContainer .grid .Text h1{
    font-weight: 900;
    letter-spacing: 0.70px; 
    color: var(--text-primary);
    word-spacing: 1px;  
    cursor: context-menu;
    font-size: 28px;
}
.middle .secContainer .grid .Dispflex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.middle .secContainer .grid span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-bottom: 10px;
}
.middle .secContainer .grid span .icon1{
    font-size: 3rem;
    color: var(--text-primary);
}
.middle .secContainer .Dispflex .flex1 .dispflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
}
.middle .secContainer .grid span p{
    font-size: 1rem;
    color: var(--text-primary);
    font-weight: 400;
}
.middle .secContainer .grid span h2{
    font-size: 2rem;
    color: var(--text-primary);
    font-weight: 300;
    max-width: 80px;
}
.middle .secContainer .grid span h2 sub{
    font-size: 1.2rem;
}
@media screen and (max-width:767px) {
    .middle .secContainer .grid .Text h1{
        font-weight: 500;
        word-spacing: 0.5px;  
        font-size: 18px;
    }
    .middle .secContainer .grid span .icon1{
        font-size: 2rem;
    }
    .middle .secContainer .grid span h2{
        font-size: 2rem;
        color: var(--text-primary);
        font-weight: 100;
        max-width: 100px;
        padding-left: 8px;

    }
    .middle .secContainer .grid span p{
        font-size: 0.8rem;
        color: var(--text-primary);
        font-weight: 400;
    }

}