*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition: 0.3s ease;
  

}
.flex{
  display: flex;
  align-items: center;
}
.grid{
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
p{
  font-size: 0.810rem;
}
html{
  font-size: 90%;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
.icon{
  font-size: 2rem;
  cursor: pointer;
}
image,video{
  height: auto;
  width: 100%;
}
.btn{
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3rem;
  padding: 0.4rem 1.5rem;
}
.btn:hover{
  transition: 0.3s ease;
  color: #fff;
  background: #000;
}
.secTitle{
  display: none;
  text-align: center;
  padding: 1rem 0;
  font-size: 25px;
  color: hsl(0,0,0);
  flex-direction: column;
  gap: 1rem;
}
.secTitle p{
    color:hsl(0,0,0);
    font-size: 18px;
    font-weight: 400;   
}

.secHeading{
  padding-bottom: 1.5rem;

}
.btn .icon{
  margin-left:0.5rem ;
}

.section{
  padding:4rem  0 2rem ;
}
.container{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
::selection{
  background: rgb(56, 134, 91);
}
::-webkit-scrollbar{
  width: 10px;
  background: rgb(0, 0, 0) ;
}
::-webkit-scrollbar-thumb{
  width: 10px;
  background: rgb(202, 202, 202) ;
  border-radius: 3rem;
}

.app {
  color: var(--text-primary);
  background-color: var(--background);
  transition: all .5s;
}

.App{
  color: var(--text-primary);
  background-color: var(--background);
}

[data-theme='dark'] {
  --background: #222;
  --text-primary: #fff;
}
